@charset "UTF-8";
/*----- COLOR -----*/
.pop {
  color: #FA4C4B;
}

/*----- FONT STYLE -----*/
/*regular*/
/*semi bold*/
.logo {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
}

.light {
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

/*----- Border -----*/
/*----- Transition time -----*/
a.top-bar {
  font-size: 18px;
  margin-top: 0px;
  padding-right: 4px;
}

a.top-bar.logo {
  padding-right: 6px;
}

.top-bar {
  list-style: none;
  padding-left: 0%;
  display: inline-block;
  margin-top: 0%;
}

.top-bar-item {
  display: inline-block;
  position: relative;
}

.menu {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

html {
  background-color: #FFEBF5;
}

body {
  margin: 1em;
}

a {
  text-decoration: none;
  color: #222222;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: auto;
}

.link-in-text {
  text-decoration: underline;
}

p, label {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
}

h2 {
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: #222222;
}

h3 {
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #222222;
}

h4 {
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-size: 85px;
  line-height: 69px;
  color: #222222;
}

h5 {
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #222222;
}

.boton-soft-black {
  background-color: transparent;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #222222;
  border-radius: 100px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.boton-soft-black:hover {
  background-color: #222222;
  color: #FFFFFF;
}

.boton-soft-black:active {
  background-color: #FA4C4B;
  border: 1px solid #FA4C4B;
  color: #FFFFFF;
}

.boton-hard {
  background-color: #FA4C4B;
  color: #FFFFFF;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #FA4C4B;
  border-radius: 100px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.boton-hard:hover {
  background-color: #F1AFD0;
  border: 1px solid #F1AFD0;
}

.boton-hard:active {
  background-color: #222222;
  border: 1px solid #222222;
}

.input-newsletter {
  background-color: transparent;
  font-size: 15px;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #222222;
  border-radius: 100px;
}

::-webkit-input-placeholder {
  color: #222222;
}

::-moz-placeholder {
  color: #222222;
}

:-ms-input-placeholder {
  color: #222222;
}

::-ms-input-placeholder {
  color: #222222;
}

::placeholder {
  color: #222222;
}

input.radio:checked {
  background-color: #FA4C4B;
}

footer {
  background-color: #FA4C4B;
  padding: 10px;
  width: calc(100% + 1em);
  position: relative;
  bottom: -1em;
  left: -1em;
  margin-top: 100px;
}

p.footer {
  color: #FFFFFF;
  padding-left: 10px;
}

a.footer {
  color: #FFFFFF;
}

.footer-links {
  padding-right: 12px;
}

.insta {
  position: relative;
  width: 25px;
  bottom: -1.4px;
}

.behance {
  position: relative;
  width: 20px;
  top: -1.4px;
}

.presu-item-bar {
  background-color: #222222;
  height: 2px;
}

label {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
  margin-bottom: 10px;
  padding-right: 10px;
}

input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #FFFFFF;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 1px solid #222222;
  border-radius: 2px;
}

input[type=text].presu {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #FFFFFF;
  color: currentColor;
  margin-left: 10px;
  width: 1.15em;
  height: 1.15em;
  border: 1px solid #222222;
  border-radius: 2px;
  width: 15%;
}

p.input {
  line-height: 10px;
}

input[type=text].presu-item-otro {
  width: 100%;
}

/*
.presu-item-hide{
    display: none;
}*/
.img {
  background-color: #F1AFD0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

.landing-img {
  background-image: url(../../recursos/landing-pink.png);
}

.banda-1 {
  background-image: url(../../recursos/mateo.png);
}

.banda-2 {
  background-image: url(../../recursos/amarillo.png);
}

.banda-3 {
  background-image: url(../../recursos/meseta.jpg);
}

.banda-4 {
  background-image: url(../../recursos/diego.jpeg);
}

.banda-5 {
  background-image: url(../../recursos/sonido.jpeg);
}

.banda-6 {
  background-image: url(../../recursos/aliaga.png);
}

.pro-intro {
  margin-top: 150px;
  margin-bottom: 350px;
}

/* móvil */
.pro-card {
  margin-top: 20px;
  padding-bottom: 33px;
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 10px;
}

.pro-card-img {
  height: 250px;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 1px solid #222222;
}

.pro-card-info {
  padding: 15px;
}

.pro-card-header {
  display: inline;
}

.pro-card-header-name, .pro-card-header-type {
  margin: 0px;
  width: 50%;
}

.pro-card-header-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.pro-card-link {
  position: relative;
  float: right;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

/*HOME*/
/*HOME*/
/*HOME*/
/* landing */
.landing-img {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: calc(100vw + 1em);
  left: -1em;
  top: 0;
}

h1.landing-logo {
  position: relative;
  color: #222222;
  font-size: 29vw;
  left: -0.08em;
  top: -0.25em;
  margin: 0;
}

.landing-text {
  margin-top: 6em;
  margin-bottom: 0.5em;
}