@charset "UTF-8";
/*----- COLOR -----*/
.pop {
  color: #FA4C4B;
}

/*----- FONT STYLE -----*/
/*regular*/
/*semi bold*/
.logo {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
}

.light {
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

/*----- Border -----*/
/*----- Transition time -----*/
/*----- @media width -----*/
nav {
  position: fixed;
  top: 0%;
  margin-top: 20px;
  margin-bottom: 20px;
}

a.top-bar {
  font-size: 18px;
  margin-top: 0px;
  padding-right: 4px;
}

a.top-bar.logo {
  padding-right: 6px;
}

.top-bar {
  list-style: none;
  padding-left: 0%;
  display: inline-block;
  margin-top: 0%;
}

.top-bar-item {
  display: inline-block;
  position: relative;
}

.menu {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

html {
  background-color: #FFEBF5;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 1.5em;
}

/*----------

    MOBILE

----------*/
a {
  text-decoration: none;
  color: #222222;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: auto;
}

.link-in-text {
  text-decoration: underline;
}

p, label {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
}

h2 {
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: #222222;
}

h3 {
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #222222;
}

h4 {
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-size: 80px;
  line-height: 65px;
  color: #222222;
}

h5 {
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #222222;
}

/*----------

    DESK

----------*/
@media all and (min-width: 650px) {
  p, label, input {
    font-size: calc(14px + .3em);
  }

  .boton-soft-black, .boton-hard, input.input-newsletter, label.presu {
    font-size: calc(14px + .3em);
  }

  label.presu {
    position: relative;
    top: -3px;
  }

  h2 {
    font-size: calc(25px + .5em);
  }

  h3 {
    font-size: calc(40px + .5em);
  }

  h4 {
    position: relative;
    line-height: 80%;
    font-size: 15vw;
    margin: 0;
  }

  h5 {
    font-size: calc(14px + .5em);
  }
}
.boton-soft-black {
  background-color: transparent;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #222222;
  border-radius: 100px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.boton-soft-black:hover {
  background-color: #222222;
  color: #FFFFFF;
}

.boton-soft-black:active {
  background-color: #FA4C4B;
  border: 1px solid #FA4C4B;
  color: #FFFFFF;
}

.boton-hard {
  background-color: #FA4C4B;
  color: #FFFFFF;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #FA4C4B;
  border-radius: 100px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.boton-hard:hover {
  background-color: #F1AFD0;
  border: 1px solid #F1AFD0;
}

.boton-hard:active {
  background-color: #222222;
  border: 1px solid #222222;
}

.input-newsletter {
  background-color: transparent;
  font-size: 15px;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #222222;
  border-radius: 100px;
}

::-webkit-input-placeholder {
  color: #222222;
}

::-moz-placeholder {
  color: #222222;
}

:-ms-input-placeholder {
  color: #222222;
}

::-ms-input-placeholder {
  color: #222222;
}

::placeholder {
  color: #222222;
}

input.radio:checked {
  background-color: #FA4C4B;
}

a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

a.link-in-text:hover {
  color: #FA4C4B;
}

a.link-in-text.footer:hover {
  color: #222222;
}

footer {
  background-color: #FA4C4B;
  padding: 10px;
  width: calc(100% + 2em);
  position: relative;
  bottom: -1.5em;
  left: -1.5em;
  margin-top: 100px;
}

p.footer {
  color: #FFFFFF;
  padding-left: 10px;
}

a.footer {
  color: #FFFFFF;
}

.footer-links {
  padding-right: 12px;
}

.insta {
  position: relative;
  width: 25px;
  bottom: -1.4px;
}

.behance {
  position: relative;
  width: 20px;
  top: -1.4px;
}

@media all and (min-width: 650px) {
  p.footer {
    font-size: 14px;
  }
}
.presu-item-bar {
  background-color: #222222;
  height: 2px;
}

label {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
  margin-bottom: 10px;
  padding-right: 10px;
}

input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #FFFFFF;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 1px solid #222222;
  border-radius: 2px;
}

input[type=text].presu {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #FFFFFF;
  color: currentColor;
  margin-left: 10px;
  width: 1.15em;
  height: 1.15em;
  border: 1px solid #222222;
  border-radius: 2px;
  width: 15%;
}

p.input {
  line-height: 10px;
}

input[type=text].presu-item-otro {
  width: 100%;
}

/*
.presu-item-hide{
    display: none;
}*/
.img {
  background-color: #F1AFD0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

.landing-img {
  background-image: url(../../recursos/landing.png);
}

.banda-1 {
  background-image: url(../../recursos/mateo.png);
}

.banda-2 {
  background-image: url(../../recursos/amarillo.png);
}

.banda-3 {
  background-image: url(../../recursos/meseta.jpg);
}

.banda-4 {
  background-image: url(../../recursos/diego.jpeg);
}

.banda-5 {
  background-image: url(../../recursos/sonido.jpeg);
}

.banda-6 {
  background-image: url(../../recursos/aliaga.png);
}

.pro-intro {
  margin-top: 150px;
  margin-bottom: 350px;
}

/* móvil */
.pro-card {
  margin-top: 20px;
  padding-bottom: 33px;
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 10px;
}

.pro-card-img {
  height: 250px;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 1px solid #222222;
}

.pro-card-info {
  padding: 15px;
}

.pro-card-header {
  display: inline;
}

.pro-card-header-name, .pro-card-header-type {
  margin: 0px;
  width: 50%;
}

.pro-card-header-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.pro-card-link {
  position: relative;
}

@media all and (min-width: 650px) {
  .thin-section {
    padding-left: 10%;
    padding-right: 10%;
  }

  .pro-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .pro-card-img {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    border-radius: 10px 0px 0px 10px;
    border-right: 1px solid #222222;
  }

  .pro-card-info {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}
.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

@media all and (min-width: 650px) {
  .row-2 {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }

  .row-3 {
    -webkit-box-flex: 33.333%;
        -ms-flex: 33.333%;
            flex: 33.333%;
  }

  .row-3-big {
    -webkit-box-flex: 66.666%;
        -ms-flex: 66.666%;
            flex: 66.666%;
  }
}
/*----------

    MOBILE

----------*/
/*------HOME------*/
/* landing */
.landing-img {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: calc(100vw + 1em);
  left: -1em;
  top: 0;
}

h1.landing-logo {
  position: relative;
  color: #222222;
  font-size: 27.5vw;
  left: -0.08em;
  top: 0.1em;
  margin: 0;
}

.landing-text {
  margin-top: 8em;
  margin-bottom: 0.5em;
}

/* transition gradient */
.transition-gradient {
  position: relative;
  height: 2em;
  width: calc(100vw + 1em);
  left: -1em;
  top: 2.3em;
  /*border: $border solid $black;*/
  background: -webkit-gradient(linear, left bottom, left top, from(#FFEBF5), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, #FFEBF5 0%, rgba(0, 0, 0, 0) 100%);
}

/* serv */
.serv {
  margin-top: 7em;
}

.serv-item {
  margin-bottom: 3em;
}

.serv-item-title {
  margin-bottom: 0em;
}

.serv-item-text {
  margin-top: 1em;
}

.serv-item-link {
  display: none;
}

/* pres */
.pres {
  margin-top: 0em;
}

/* pro */
.pro {
  margin-top: 4em;
}

.pro-title {
  margin-top: 0em;
  margin-bottom: 0em;
}

.pro-text {
  margin-top: 1.4em;
  margin-bottom: 2em;
}

/* faq */
.faq {
  margin-top: 4em;
}

.faq-item-title {
  margin-top: 2em;
  margin-bottom: 0em;
}

.faq-item-text {
  margin-top: 0.5em;
}

/* contact */
.contact {
  margin-top: 10em;
  margin-bottom: 12em;
}

.newsletter {
  margin-top: 4em;
}

/*------PRESUPUESTO------*/
.presu-header {
  margin-top: 3em;
  margin-bottom: 2em;
}

.presu-item-hide:last-child {
  margin-bottom: 4em;
}

.presu-result {
  margin-top: 6em;
}

.presu-result-title {
  margin-bottom: 0.5em;
}

/*------PROYECTOS------*/
.pro-intro {
  margin-top: 7em;
  margin-bottom: 4em;
}

.pro-bottom {
  margin-top: 7em;
  margin-bottom: 10em;
}

.pro-bottom-title {
  margin-bottom: 0.5em;
}

/*----------

    DESK

----------*/
@media all and (min-width: 650px) {
  /*------HOME------*/
  /* landing */
  h1.landing-logo {
    top: -5vh;
  }

  .landing-text {
    margin-top: -15vh;
  }

  /* serv */
  .serv {
    margin-top: 80vh;
    padding-left: 3vw;
  }

  .serv-item-2 {
    margin-top: 5vh;
  }

  .serv-item-3 {
    margin-top: calc(2 * 5vh);
  }

  .serv-item-text {
    width: 85%;
  }

  /* pres */
  .pres {
    margin-top: 30vh;
    margin-bottom: 30vh;
  }

  /* pro */
  .pro {
    margin-top: 50vh;
    margin-bottom: 50vh;
  }

  .pro-text {
    margin-top: 70%;
  }

  /* faq */
  .faq-title {
    width: 10%;
  }

  .faq-item-text {
    width: 85%;
  }

  /* contact */
  .contact {
    margin-top: 30vh;
  }

  /*------PROYECTOS------*/
  /* contact */
  .pro-bottom-title {
    width: 60%;
  }

  /* contact */
  .pro-bottom {
    margin-top: 40vh;
    margin-bottom: 40vh;
  }

  .pro-bottom-title {
    width: 60%;
  }
}