.grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.row{
    flex: 50%;
}

@media all and (min-width: $desk){
    .grid-nowrap{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .row-3{
        flex: 33.333%;
    }
    .row-3-big{
        flex: 66.666%;
    }
}
