/*----------
    
    MOBILE

----------*/

a{
    text-decoration: none;
    color: $text;
    font-family: $font;
    font-weight: $reg;
    font-size: auto;
}

.link-in-text{
    text-decoration: underline;
}

p, label{
    font-family: $font;
    font-weight: $reg;
    font-size: 14px;
    color: $text;
}

h2{
    font-family: $font;
    font-weight: $bold;
    font-size: 25px;
    color: $text;
}

h3{
    font-family: $font;
    font-weight: $bold;
    font-size: 40px;
    color: $text;
}

h4{
    font-family: $font;
    font-weight: $bold;
    font-size: 80px;
    line-height: 65px;
    color: $text;
}

h5{
    font-family: $font;
    font-weight: $bold;
    font-size: 14px;
    color: $text;
}




/*----------
    
    DESK

----------*/

@media all and (min-width: $desk){
    p, label, input{        
        font-size: calc(14px + .3em);
    }
    .boton-soft-black, .boton-hard, input.input-newsletter, label.presu{
        font-size: calc(14px + .3em);
    }
    label.presu{
        position: relative;
        top: -3px;
    }
    h2{
        font-size: calc(25px + .5em);
    }
    
    h3{
        font-size: calc(40px + .5em);
    }
    
    h4{
        position: relative;
        line-height: 80%;
        font-size: 15vw;
        margin: 0;
    }
    
    h5{
        font-size: calc(14px + .5em);
    }
}