.boton-soft-black{
    background-color: transparent;
    padding: 6px;
    font-size: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    border: $border solid $black;
    border-radius: 100px;
    transition: $tran-time;
}
.boton-soft-black:hover{
    background-color: $black;
    color: $white;
}
.boton-soft-black:active{
    background-color: $dark-pink;
    border: $border solid $dark-pink;
    color: $white;
}

.boton-mid{
    background-color: $dark-pink;
    font-size: auto;
    color: $black;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    border: $border solid $dark-pink;
    border-radius: 100px;
    transition: $tran-time;
}
.boton-mid:hover{
    background-color: $black;
    border: $border solid $black;
    color: $white;
}
.boton-mid:active{
    background-color: $pop;
    border: $border solid $pop;
    color: $white;
}



.boton-hard{
    background-color: $pop;
    color: $white;
    font-size: auto;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    border: $border solid $pop;
    border-radius: 100px;
    transition: $tran-time;
}
.boton-hard:hover{
    background-color: $black;
    border: $border solid $black;
}
.boton-hard:active{
    background-color: $dark-pink;
    border: $border solid $dark-pink;
}

.input-newsletter{
    background-color: transparent;
    font-size: 15px;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border: $border solid $black;
    border-radius: 100px;
}
::placeholder{
    color: $black;
}

input.radio:checked{
    background-color: $pop;
}

input[type=text]:focus {
    border: $border solid $black;;
}

a{
    transition: $tran-time;
}
a.link-in-text:hover{
    color: $pop;
}
a.link-in-text.footer:hover{
    color: $black;
}

.presu-eraser-item:hover{
    color: $black;
}
