footer{
    background-color: $pop;
    padding: 10px;
    width: calc(100% + 2em);
    position: relative;
    bottom: -1.5em;
    left: -1.5em;
    margin-top: 100px;
}

p.footer{
    color: $white;
    padding-left: 10px;
}
a.footer{
    color: $white;
}

.footer-links{
    padding-right: 12px;
}
.insta{
    position: relative;
    width: 25px;
    bottom: -1.4px;
}
.behance{
    position: relative;
    width: 20px;
    top: -1.4px;
}

@media all and (min-width: $desk){
    p.footer{
        font-size: 14px;
    }
}