/*----------
    
    MOBILE

----------*/


/*------HOME------*/

/* landing */
.landing-img{
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: calc(100vw + 1em);
    left: -1em;
    top: 0;
}
h1.landing-logo{
    position: relative;
    color: $black;
    font-size: 27.5vw;
    left: -.08em;
    top: .1em;
    margin: 0;
}
.landing-text{
    margin-top: 8em;
    margin-bottom: .5em;
}

/* transition gradient */
.transition-gradient{
    position: relative;
    height: 2em;
    width: calc(100vw + 1em);
    left: -1em;
    top: 2.3em;
    /*border: $border solid $black;*/
    background: linear-gradient(0deg, $web-back 0%, rgba(0,0,0,0) 100%);;
}

/* serv */
.serv{
    margin-top: 7em;
}
.serv-item{
    margin-bottom: 3em;
}
.serv-item-title{
    margin-bottom: 0em;
}
.serv-item-text{
    margin-top: 1em;
}
.serv-item-link{
    display: none;
}

/* pres */
.pres{
    margin-top: 0em;
}

/* pro */
.pro{
    margin-top: 4em;
}
.pro-title{
    margin-top: 0em;
    margin-bottom: 0em;
}
.pro-text{
    margin-top: 1.4em;
    margin-bottom: 2em;
}

/* faq */
.faq{
    margin-top: 4em;
}
.faq-item-title{
    margin-top: 2em;
    margin-bottom: 0em;
}
.faq-item-text{
    margin-top: .5em;
}

/* contact */
.contact{
    margin-top: 10em;
    margin-bottom: 12em;
}
.newsletter{
    margin-top: 4em;
}


/*------PRESUPUESTO------*/
.presu-header{
    margin-top: 3em;
    margin-bottom: 2em;
}
.presu-item-hide:last-child{
    margin-bottom: 4em;
}
.presu-result{
    margin-top: 6em;
}
.presu-result-title{
    margin-bottom: .5em;
}


/*------PROYECTOS------*/
.pro-intro{
    margin-top: 7em;
    margin-bottom: 4em;
}
.pro-bottom{
    margin-top: 7em;
    margin-bottom: 10em;
}
.pro-bottom-title{
    margin-bottom: .5em;
}



/*----------
    
    DESK

----------*/

@media all and (min-width: $desk){
    
}