.pro-intro{
    margin-top: 150px;
    margin-bottom: 350px;
}

/* móvil */

.pro-card{
    margin-top: 20px;
    padding-bottom: 33px;
    background-color: $white;
    border: $border solid $black;
    border-radius: $radius;
}

.pro-card-img{
    height: 250px;
    border-radius: $radius $radius 0px 0px;
    border-bottom: $border solid $black;
}

.pro-card-info{
    padding: 15px;
}

.pro-card-header{
    display: inline;
}
.pro-card-header-name, .pro-card-header-type{ 
    margin: 0px;
    width: 50%;
}
.pro-card-header-type{
    display: flex;
    justify-content: flex-end;
}

.pro-card-link{
    position: relative;
    
}


@media all and (min-width: $desk){
    .thin-section{
        padding-left: 10%;
        padding-right: 10%;
    }
    .pro-card{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .pro-card-img{
        flex: 50%;
        border-radius: $radius 0px 0px $radius;
        border-right: $border solid $black;
    }
    .pro-card-info{
        flex: 50%;
    }
}