nav{
    position: fixed;
    top: 0%;
    z-index: 1000;
    background-color: $pop;
    width: calc(100% + 3em);
    left: -1.5em;
    top: 0;
    padding-left: 3em;
    padding-top: 1.2em;
    padding-bottom: .5em;
}
li{
    margin-right: 1em;
}
a.top-bar{
    font-size: 18px;
    margin-top: 0px;
    padding-right: 4px;
}

a.top-bar.logo{
    padding-right: 6px;
}
.top-bar{
    list-style:none;
    padding-left: 0%;
    display: inline-block;
    margin-top: 0%;
    color: $white;
}
.top-bar-item{
    display: inline-block;
    position: relative;
}
.menu{
    justify-content: flex-end;
}
